.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, 0.8);
	z-index: 110;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-in-out;

	// When target goes else where, opacity turn back to 0
	// So close button should be a link point to another section
	&:target {
		opacity: 1;
		visibility: visible;
	}

	&__content {
		position: absolute;
		border-radius: 3px;
		width: 75%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
		background-color: $color-white;
		overflow: hidden;
		transition: all 0.3s 0.2s;
	}

	&:target &__content {
		transform: translate(-50%, -50%) scale(1);
	}

	&__left {
		width: 35%;
		display: table-cell;
	}

	&__right {
		width: 65%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
	}

	&__close {
		&:link,
		&:visited {
			color: $color-grey-dark-1;
			position: absolute;
			top: 3rem;
			right: 3rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			transition: all 0.2s;
			line-height: 1rem;
		}

		&:hover {
			color: $color-primary;
		}
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;
		column-count: 2;
		column-gap: 4rem;
		column-rule: 1px solid $color-grey-light-2;
		hyphens: auto;
	}
}
