.u-center-text {
	text-align: center;
}

.u-margin-bottom- {
	&small {
		margin-bottom: 1rem;
	}
	&medium {
		margin-bottom: 5rem;

		@include respond(phone) {
			margin-bottom: 3rem;
		}
	}
	&big {
		margin-bottom: 8rem;

		@include respond(phone) {
			margin-bottom: 5rem;
		}
	}
}

.u-margin-top- {
	&small {
		margin-top: 1rem;
	}
	&medium {
		margin-top: 5rem;

		@include respond(phone) {
			margin-top: 3rem;
		}
	}
	&big {
		margin-top: 12rem;

		@include respond(phone) {
			margin-top: 5rem;
		}
	}
}
