.u-center-text {
	text-align: center;
}

.u-margin-bottom- {
	&small {
		margin-bottom: 1rem;
	}
	&medium {
		margin-bottom: 5rem;
	}
	&big {
		margin-bottom: 8rem;
	}
}

.u-margin-top- {
	&small {
		margin-top: 1rem;
	}
	&medium {
		margin-top: 5rem;
	}
	&big {
		margin-top: 12rem;
	}
}
